.about {
  margin: 2rem 0;
  font-size: 30px;
  .left {
    width: 25%;
    margin: 0;
    img {
      //position: absolute;
      width: 540px;
      height: auto;
    }
  }

  .right {
    //margin-top: 6rem;
    width: 40%;
    p {
      margin-bottom: 2rem;
      span {
        font-weight: 700;
      }
    }
  }
}
