.hero {
  background-image: url("../images/healthy-green2.jpg");
  //background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  // background-color: aqua;
  max-width: 100vw;
  height: 870px;
  h2 {
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 0;
    width: 500px;
    height: 170px;
  }
  p {
    font-size: 24px;
    font-weight: 500;
    width: 90%;
  }
  span {
    display: block;
    font-weight: 700;
    color: green;
  }
  .left {
    margin-top: 4rem;
    width: 36%;
  }
  img {
    position: absolute;
    display: grid;
    place-content: center;
    width: 1440px;
    height: auto;
    top: 0px;
    z-index: -10;
  }
}
