$Green: #3d893f;
$Gray: #ececec;
$Black: #000000;

.nav-container {
  background-color: $Gray;
  padding: 0 6rem;
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: $Black;

    .logo-ctnr {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 1rem;
      .logo {
        width: 24px;
        height: 24px;
        transform: scale(3);
        z-index: 100;
      }
      h1 {
        // display: none;
        a {
          text-decoration: none;
          color: #3d893f;
          font-size: 24px;
          font-weight: 700;
        }
      }
    }
    // .logo {
    //   width: 24px;
    //   height: 24px;
    //   transform: scale(4);
    //   z-index: 100;
    // }
    // h1 {
    //   a {
    //     display: flex;
    //     justify-content: center;
    //     align-items: center;
    //     gap: 1rem;
    //     text-decoration: none;
    //     color: #3d893f;
    //   }
    // }
    .nav-btn {
      display: none;
      // transform: scale(2);
      color: $Black;
      // z-index: 1001;
      transition: color 0.15s ease-in-out;
      &:hover {
        cursor: pointer;
        color: #3d893f;
      }
    }
    .drop-down-icon {
      position: relative;
      top: 5px;
      right: 0px;
      transform: scale(1.5);
      &:hover {
        cursor: pointer;
        color: #3d893f;
      }
    }
    ul {
      display: flex;
      gap: 1rem;

      .recipes {
        position: relative;
        z-index: 1;

        &:hover {
          .sub-menu {
            display: block;
            opacity: 1;
            pointer-events: all;
            top: 26px;
          }
        }
      }
      li {
        list-style: none;
        font-size: 16px;
        font-weight: 700;
        text-transform: uppercase;

        a {
          text-decoration: none;
          padding: 6px 0.8rem;
          color: $Black;
        }
        .active {
          color: white;
          background-color: $Green;
          border-radius: 10px;
          //transition: background-color 0.25s ease-in;
        }
        &:hover {
          .drop-down-icon {
            color: #3d893f;
          }
        }

        .sub-menu {
          // display: none;
          pointer-events: none;
          opacity: 0;
          position: absolute;
          top: 10px;
          right: -20px;
          background-color: #ececec;
          padding: 0.6rem 0 0.6rem 0;
          margin-left: 2.6rem;
          border-radius: 10px;
          transition: all 0.3s ease-in-out;
          z-index: -1;

          li {
            width: max-content;
          }
          a {
            font-size: 12px;
          }
          .active {
            color: #3d893f;
            background-color: unset;
            border-radius: 14px;
          }
          &:hover {
            display: block;
            opacity: 1;
            pointer-events: all;
            top: 26px;
            right: -30px;
          }
        }
      }
    }
  }
}

////-----------MEDIA QUERY BEFORE 1000px---------------/////

@media only screen and (max-width: 1440px) {
  .nav-container {
    // background-color: $Gray;
    padding: 0 3.6rem;
    nav {
      // display: flex;
      // justify-content: space-between;
      // align-items: center;
      // color: $Black;

      // .logo-ctnr {
      //   // display: flex;
      //   // justify-content: center;
      //   // align-items: center;
      //   // gap: 1rem;
      //   // .logo {
      //   //   width: 24px;
      //   //   height: 24px;
      //   //  transform: scale(3);
      //   //   z-index: 100;
      //   // }
      //   // h1 {
      //   //   // display: none;
      //   //   a {
      //   //     text-decoration: none;
      //   //     color: #3d893f;
      //   //     font-size: 24px;
      //   //     font-weight: 700;
      //   //   }
      //   // }
      // }

      // .nav-btn {
      //   display: none;
      //   // transform: scale(2);
      //   // color: $Black;
      //   // z-index: 1001;
      // }
      // .drop-down-icon {
      //   position: relative;
      //   top: 5px;
      //   right: 0px;
      //   transform: scale(1.5);
      //   &:hover {
      //     cursor: pointer;
      //     color: #3d893f;
      //   }
      // }
      ul {
        // display: flex;
        // gap: 1rem;

        // .recipes {
        //   position: relative;
        //   z-index: 1;

        //   &:hover {
        //     .sub-menu {
        //       display: block;
        //       opacity: 1;
        //       pointer-events: all;
        //       top: 26px;
        //     }
        //   }
        // }
        li {
          // list-style: none;
          font-size: 15px;
          // font-weight: 700;
          // text-transform: uppercase;

          // a {
          //   text-decoration: none;
          //   padding: 6px 0.6rem;
          //   color: $Black;
          // }
          // .active {
          //   color: white;
          //   background-color: $Green;
          //   border-radius: 10px;
          //   //transition: background-color 0.25s ease-in;
          // }
          // &:hover {
          //   .drop-down-icon {
          //     color: #3d893f;
          //   }
          // }

          .sub-menu {
            // // display: none;
            // pointer-events: none;
            // opacity: 0;
            // position: absolute;
            // top: 10px;
            // right: -20px;
            // background-color: #ececec;
            // padding: 0.6rem 0 0.6rem 0;
            // margin-left: 2.6rem;
            // border-radius: 10px;
            // transition: all 0.3s ease-in-out;
            // z-index: -1;

            // li {
            //   width: max-content;
            // }
            // a {
            //   font-size: 12px;
            // }
            // .active {
            //   color: #3d893f;
            //   background-color: unset;
            //   border-radius: 14px;
            // }
            // &:hover {
            //   display: block;
            //   opacity: 1;
            //   pointer-events: all;
            //   top: 26px;
            //   right: -30px;
            // }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 960px) {
  .nav-container {
    // background-color: $Gray;
    padding: 0 1rem;
    nav {
      // display: flex;
      // justify-content: space-between;
      // align-items: center;
      // color: $Black;

      .logo-ctnr {
        // display: flex;
        // justify-content: center;
        // align-items: center;
        // gap: 1rem;
        // .logo {
        //   width: 24px;
        //   height: 24px;
        //   transform: scale(3);
        //   z-index: 100;
        // }
        h1 {
          // display: none;
          a {
            // text-decoration: none;
            // color: #3d893f;
            font-size: 24px;
            // font-weight: 700;
          }
        }
      }

      .nav-btn {
        display: block;
        transform: scale(2);
        color: $Black;
        z-index: 1000;
        position: absolute;
        top: 2rem;
        right: 2rem;
      }
      .nav-open {
        display: block;
        z-index: 99;
      }
      .nav-close {
        display: block;
      }

      // .drop-down-icon {
      //   position: relative;
      //   top: 5px;
      //   right: 0px;
      //   transform: scale(1.5);
      //   &:hover {
      //     cursor: pointer;
      //     color: #3d893f;
      //   }
      // }
      // nav-menu.active {
      //   display: none;
      //   //transform: translateX(100px);
      // }
      .show {
        transform: translateY(0);
        //background-color: red;
        //opacity: 1;
      }
      ul {
        // display: none;
        flex-direction: column;
        gap: 3.6rem;
        position: absolute;
        top: -16px;
        right: 0;
        background-color: $Gray;
        width: 100%;
        height: 100vh;
        padding: 4rem 0 4rem 3rem;
        z-index: 999;
        transform: translateY(-100%);
        // opacity: 0;
        transition: transform 0.6s ease-in-out;

        // .nav-menu-close {
        //   display: none;
        //   transform: translateX(100px);
        // }

        .recipes {
          position: relative;
          z-index: 1;

          &:hover {
            .sub-menu {
              display: block;
              opacity: 1;
              pointer-events: all;
              top: 70px;
            }
          }
        }
        li {
          // list-style: none;
          font-size: 24px;
          // font-weight: 700;
          // text-transform: uppercase;
          position: relative;
          // left: 0%;

          // a {
          //   text-decoration: none;
          //   padding: 6px 0.6rem;
          //   color: $Black;
          // }
          .active {
            color: $Green;
            background-color: unset;
            border-radius: 10px;
            //transition: background-color 0.25s ease-in;
          }
          // &:hover {
          //   .drop-down-icon {
          //     color: #3d893f;
          //   }
          // }

          .sub-menu {
            // display: none;
            pointer-events: none;
            opacity: 0;
            position: absolute;
            top: 60px;
            left: 60px;
            width: fit-content;
            height: auto;
            align-items: center;
            background-color: unset;
            padding: 0.4em 0 0.6rem 0;
            margin-left: 2.6rem;
            border-radius: 10px;
            transition: all 0.3s ease-in-out;
            z-index: -1;

            li {
              width: max-content;
            }
            a {
              font-size: 14px;
            }
            .active {
              color: #3d893f;
              background-color: unset;
              border-radius: 14px;
            }
            &:hover {
              display: block;
              opacity: 1;
              pointer-events: all;
              top: 20px;
              right: 60px;
            }
          }
        }
      }
    }
  }
}
