.recipe {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 320px;
  height: 350px;
  background-color: #ececec;
  text-align: center;
  margin-top: 4rem;
  margin-bottom: -8rem;
  border-radius: 10px;
  box-shadow: 4px 4px 10px 2px gray;
  transition: transform 0.45s ease-in-out;
  &:hover {
    transform: scale(1.05);
    cursor: pointer;
  }
  .img-ctnr {
    // width: 250px;
    // height: 250px;
    img {
      width: 250px;
    }
  }
  .text-ctnr {
    p {
      font-size: 18px;
      font-weight: 500;

      width: 280px;
    }
  }
}
