@import url(./styles/Nav.scss);
@import url(./styles/Home.scss);
@import url(./styles/Card.scss);
@import url(./styles/About.scss);
@import url(./styles/Tips.scss);
@import url(./styles/Recipe.scss);
@import url(./styles/Recipes.scss);
@import url(./styles/Contact.scss);
@import url(./styles/Buttons.scss);
@import url(./styles/Testimonial.scss);
@import url(./styles/Footer.scss);

// .App {
//   //background-color: black;
//   // max-width: 1440px;
//   // margin: auto;
//   //   ::after {
//   //     content: " ";
//   //     background-color: orange;
//   //     width: 500px;
//   //     height: 100px;
//   //     position: absolute;
//   //     bottom: -168px;
//   //   }
// }
.left {
  float: left;
  width: 70%;
  margin-left: 4rem;
}
.right {
  float: right;
  width: 30%;
  margin-right: 4rem;
}
